<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <link rel="stylesheet" href='/styles/main.css'>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>